
name: QA Validation
on:
  pull_request:
    branches:
      - develop
jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0 # Needed for git history
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.1.0

      - name: Install SF CLI
        run: |
          npm install -g @salesforce/cli
      
      - name: Install SF SGD
        run: echo y | sf plugins install sfdx-git-delta
        
      - name: Generate the Package.xml
        run: |
          mkdir delta
          sf sgd source delta --to "HEAD" --from  "HEAD~1" \
           --output "./delta" --ignore-whitespace -d || true

          echo "----Package.xml-----"
          cat delta/package/package.xml || echo "No Package.xml generated"
          ls delta
          
      - name: Run SF Analysis
        run: |
          echo "Running Salesforce Code Scanner..."
          mkdir -p reports
          sf code-analyzer run \
            --target "force-app" \
            --rule-selector Recommended \
            --output-file reports/scan-report.html
            
      - name: Upload CLI Report
        uses: actions/upload-artifact@v6.0.0
        with:
          name: Cli-Scan-Report
          path: reports/scan-report.html

      #- name: Run Sonar Cloud
        #uses: SonarSource/sonarqube-scan-action@v7.0.0
        #with:
          #args: >
            #-Dsonar.projectKey=${{ env.SONAR_PROJECT_KEY }}
            #-Dsonar.organization=${{ env.SONAR_ORG }}
            #-Dsonar.sources=force-app
            #-Dsonar.sonar.exclusions=**/profiles/**,**/permissionsets/**,**/reports/**,**/dashboards/**,**/email/**,**/flows/**,**/objects/**
        #env:
          #SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          #SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}
          #SONAR_ORG: ${{ secrets.SONAR_ORG }}
            
      - name: Authenticate SF
        run: | 
          echo "${{secrets.JWT_KEY}}" > server.key
          sf org login jwt --client-id ${{secrets.CLIENTID}} --jwt-key-file server.key --username ${{secrets.QAUSERNAME}} --instance-url ${{secrets.URL}} --alias b4qa
      
      - name: Validate Salesforce
        run: | 
          sf project deploy start \
            --manifest delta/package/package.xml \
            --target-org b4qa \
            --test-level NoTestRun \
            --verbose \
            --dry-run --wait 60